.content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    .content-nav{
        left: 0;
        position: fixed;
    }
    .content-video{
        margin-left: 260px;
        width: 1280px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;  
    }
}